<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue au quiz des jeux de société</title>
    <link rel="stylesheet" href="/css/accueil.css">
</head>
<body>
    <header>
        <h1>Bienvenue au quiz des jeux de société !</h1>
    </header>
    <main>
        <a href="/formulaire_creation.html">Créer une question</a> |
        <a href="/affichage_questions.html">Participer au quiz</a>
    </main>
    <footer>
        Association des jeux de société - 2024
    </footer>
</body>
</html>
